NEXT_PUBLIC_SUPABASE_URL=https://phcdnpdjjcqphnfqikfg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoY2RucGRqamNxcGhuZnFpa2ZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2Njk1NDIsImV4cCI6MjA5MzI0NTU0Mn0.567fzNMqyfEDVMOQWBc4Ez92MkVIj8Jn4ZCrss1GxdA
NEXT_PUBLIC_BOT_USERNAME=clauseIQ_bot
